
servercode/snooker-booking/.project
*.prefs
servercode/snooker-booking/data-model/.classpath
servercode/snooker-booking/board-service/.project
servercode/snooker-booking/board-service/.classpath
servercode/snooker-booking/board-service/.factorypath
servercode/snooker-booking/parlour-service/.factorypath
